*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Arial, sans-serif;
}



body{

background:#f5f7fb;

}



.wrapper{

display:flex;

min-height:100vh;

}



/* SIDEBAR */


.sidebar{

width:250px;

background:#111827;

color:white;

padding:25px;

}



.sidebar h2{

margin-bottom:40px;

}



.sidebar ul{

list-style:none;

}



.sidebar li{

margin-bottom:15px;

}



.sidebar a{

color:white;

text-decoration:none;

display:block;

padding:12px;

border-radius:8px;

}



.sidebar a:hover{

background:#374151;

}



.logout{

position:absolute;

bottom:30px;

}



.logout a{

background:#dc2626;

padding:12px 30px;

border-radius:8px;

}



/* CONTENT */


.content{

flex:1;

padding:30px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}



.admin{

background:white;

padding:12px 20px;

border-radius:10px;

box-shadow:0 5px 15px #ddd;

}



/* CARD */


.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.card{

background:white;

padding:25px;

border-radius:15px;

display:flex;

gap:20px;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}



.icon{

font-size:35px;

}



.card h3{

color:#6b7280;

font-size:14px;

}



.card p{

font-size:30px;

font-weight:bold;

margin-top:10px;

}



.warning{

border-left:5px solid #dc2626;

}



/* TABLE */


.table-box{

margin-top:30px;

background:white;

padding:25px;

border-radius:15px;

}



table{

width:100%;

margin-top:20px;

border-collapse:collapse;

}



th,td{

padding:15px;

border-bottom:1px solid #eee;

text-align:left;

}



th{

background:#f9fafb;

}